extends layout

block content
  .jumbotron
    .container
      h1 How May I Help You ?
      p Yes, please. I want to ….” or “Yes, please. I would like….
      a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;

  .container
    .row
      .col-md-4
        h2 About Us
        p The stranger retracts. Beside an excess fool tears the pop yard. Should the youth stage the screw?
        The discovery attends opposite the demise. The held hash burns. Nothing is impossible.
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Services
        p The stranger retracts. Beside an excess fool tears the pop yard. Should the youth stage the screw?
        The discovery attends opposite the demise. The held hash burns. Nothing is impossible.
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Get in Touch
        p The stranger retracts. Beside an excess fool tears the pop yard. Should the youth stage the screw?
        The discovery attends opposite the demise. The held hash burns. Nothing is impossible.
        a.btn.btn-default(href='#') View Details
